@import '../preDefinitions.scss';

@font-face {
    font-family: 'Handjet';
    src: url('../../fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf');
}

.contactMe {
    display: $display;
    justify-content: center;
    gap: 9em;
    align-items: center;

    .container {
        font-size: 2em;
        margin-top: 50px;

        .name {
            font-size: 59px;
            font-family: $saira;
            height: 77px;
            font-weight: bold;
        }

        .stack {
            font-family: 'Handjet';
            font-size: 32px;
            margin: 0 0 0 4px;
            display: $display;
            position: relative;

            &::after {
                animation: blink 1.15s infinite;
                content: "|";
                position: absolute;
                right: 3.2em;
                bottom: 3px;
            }

            hr {
                height: .9em;
                border: $border;
                width: 0;
                margin: 1.5px 0 0 3px;
                animation: blink 1s infinite, moviment 5s infinite;
                position: absolute;
                margin-left: 8.4em;
                letter-spacing: 10px;
            }
        }

        svg {
            padding: .5rem;
            border: $border;
            background-color: rgba(101, 145, 180, .35);
            border-radius: $border-radius;
            margin: 1.2rem .5rem;
            width: 15px;
            height: $fit-content;
            box-shadow: $box-shadow;
        }

        .github {
            margin-left: .5rem;
        }
    }

    .img {
        animation: floating 7s infinite;
    }
}

@media screen and (max-width: 768px) {
    .contactMe {
        text-align: center;

        img {
            display: none;
        }
    }
}