@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500&family=Mukta&family=Poppins&family=Press+Start+2P&display=swap');
@import '../preDefinitions.scss';

.contactMe {
    display: $display;
    justify-content: center;
    gap: 9em;

    .container {
        font-size: 2em;
        margin-top: 50px;

        .name {
            font-size: 59px;
            font-family: $saira;
            height: 77px;
            font-weight: bold;
        }

        .stack {
            font-family: 'Handjet', cursive;
            font-size: 32px;
            margin: 0 0 0 4px;
            display: $display;
            position: relative;

            &::after {
                animation: blink 1.15s infinite;
                content: "|";
                position: absolute;
                right: 0;
                width: 28.5%;
                bottom: 3px;
            }

            hr {
                height: .9em;
                border: $border;
                width: 0;
                margin: 1.5px 0 0 3px;
                animation: blink 1s infinite, moviment 5s infinite;
                position: absolute;
                margin-left: 8.4em;
                letter-spacing: 10px;
            }
        }

        svg {
            padding: .5rem;
            border: $border;
            background-color: rgba(101, 145, 180, .35);
            border-radius: $border-radius;
            margin: 1.2rem .5rem;
            width: 15px;
            height: $fit-content;
            box-shadow: $box-shadow;
        }

        .github {
            margin-left: .5rem;
        }
    }

    .img {
        animation: floating 7s infinite;
    }
}