@import '../preDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.habilits {
    display: $display;
    gap: 10px;

    .shields {
        @include displayWrap(center);
        gap: 1.5em 1.25em;
        max-height: 200px;
        
        .nextJs {
            padding: 5px;
        }
    }

    ul {
        font-family: $pressStart2P;
        font-size: 2.5em;
        max-width: 11em;

        svg {
            cursor: $cursor;
            position: absolute;
            width: 25px;
            margin-left: 10px;
        }

        li {
            font-family: 'Mukta', sans-serif;
            margin-top: 15px;
            max-width: 100%;
            font-size: .5em;
        }
    }
}

@media screen and (max-width: 1024px) {
    .habilits {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        
        .shields {
            margin-top: 23em;
            max-height: none;
        }

        ul {
            position: absolute;
            top: 3em;
            height: 120px;
            margin-left: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .habilits {
        .shields {
            min-width: 540px;
        }
    }
}