@import '../preDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.habilits {
    display: $display;
    gap: 10px;

    div {
        @include displayWrap(center);
        gap: 1.5em 1.25em;
        max-height: 200px;
        
        .nextJs {
            padding: 5px;
        }
    }

    ul {
        font-family: $pressStart2P;
        font-size: 2.5em;
        max-width: 11.5em;

        svg {
            cursor: $cursor;
            position: absolute;
            width: 25px;
            margin-left: 10px;
        }

        li {
            font-family: 'Mukta', sans-serif;
            margin-top: 15px;
            max-width: 100%;
            font-size: .5em;
        }
    }
}