@import '../preDefinitions.scss';

.projects {
    text-align: $text-align;

    h1 {
        @include title;
    }

    div {
        display: $display;
        flex-wrap: $flex-wrap;
        justify-content: $justify-content;
        width: 416px;
    }
}