@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Mukta&display=swap');
@import '../preDefinitions.scss';

.header {
    position: fixed;
    display: $display;
    padding: 2em;
    width: $width100;
    justify-content: center;
    background: #ffffff30;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    z-index: 1;

    div {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: fit-content;
        margin: 20px;
        border-radius: 10px;
        padding: 1em;
        right: 0;
        
        ul {
            display: none;
        }

        div {
            display: unset;

            img {
                cursor: $cursor;
            }

            div {
                ul {
                    fill: white;
                }
            }
        }
    }
}