@import '../preDefinitions.scss';

.headerComponents {
    display: $display;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    justify-content: center;

    li {
        a {
            text-decoration: none;
        }
    }
}