@import '../preDefinitions.scss';

.card {
    margin-top: $padding;
    width: 416px;

    div {
        @include paddingFit;

        img {
            border-radius: $border-radius;
        }
    }
    
    h2 {
        font-size: 24px;
        text-align: $text-align-left;
        margin: 10px 0;
    }
        
    p {
        font-size: 13px;
        text-align: $text-align-left;
        margin-bottom: 10px;
    }

    a {
        font-size: 13px;
    }
}